asgiref==3.5.2
backports.zoneinfo==0.2.1
dj-database-url==1.0.0
Django==4.1
django-crispy-forms==1.14.0
gunicorn==20.1.0
lxml==4.9.1
psycopg2-binary==2.9.3
python-docx==0.8.11
python-dotenv==0.20.0
pytz==2022.1
sqlparse==0.4.2
