.asteriskField {
    display: none;
    content: '';
}

.formHint {
    font-size: .8em;
    color:rgb(0, 0, 0) !important;
}

body {
    background-color: rgb(0, 255, 76) !important; 
}

span {
    background-color: rgb(17, 0, 255) !important;
}

h1 {
    color: rgb(17, 8, 148) !important;
}